<!DOCTYPE html>
<link rel="stylesheet" href="/static/styles.css">
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Lara May Biography</title>
</head>
<body>
<p>This was a project where Matthew Cano wrote, recorded, and produced the music. Lyrics by
Lara May and Matthew Cano. The music is free to listen to and download. Project is based out
of Austin Texas. Project started in May of 2014 and disbanded in May of 2016.
<p/>

<p>Please enjoy the music of Lara May....
</p>

<ul>

<h2><li> <a href='/'> Home</a> </li></h2>

<h2><li> <a href='/songs'> Tracks</a> </li></h2>

<h2><li> <a href='/photos'> Photos</a> </li></h2>

<h2><li> <a href='/events'> Events</a> </li></h2>

<h2><li> <a href='/contact'>  Contact</a> </li></h2>

<h2><li> <a href='/downloads'> Downloads</a> </li></h2>
</ul>

</body>

</html>