<!DOCTYPE html>
<link rel="stylesheet" href="/static/styles.css">
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Contact</title>
</head>
<body>
<h3>
    Contact Information
</h3>
<p>
    <h2>Booking: Matthew Cano</h2><br>
    phone:361-218-6695<br>
    email:swguitarest@yhaoo.com<br>

</p>

<ul>

<h2><li> <a href='/'> Home</a> </li></h2>  

<h2><li> <a href='/songs'> Tracks</a> </li></h2>

<h2><li> <a href='/bio'> Biography</a> </li></h2>

<h2><li> <a href='/photos'> Photos</a> </li></h2>

<h2><li> <a href='/events'> Events</a> </li></h2>

<h2><li> <a href='/downloads'> Downloads</a> </li></h2>
</ul>
</body>
</html>