<!DOCTYPE html>
<link rel="stylesheet" href="/static/styles.css">
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Downloads</title>
</head>
<body>
<h3>Click record to download<br><br><br></h3>

<h2>1. Don't Look Back</h2>
<br>
<a href="/static/music/dontlookback.mp3" download>
  <img border="0" src="/static/pics/downloadtrack.jpg" alt="W3Schools" width="145" height="145">
</a><br>

<h2>2. Bright Lights</h2>
<br>
<a href="/static/music/brightlights.mp3" download>
  <img border="0" src="/static/pics/downloadtrack.jpg" alt="W3Schools" width="145" height="145">
</a><br>

<h2>3. Fade to Free</h2>
<br>
<a href="/static/music/fadetofree.mp3" download>
  <img border="0" src="/static/pics/downloadtrack.jpg" alt="W3Schools" width="145" height="145">
</a><br>

<h2>4. Hourglass</h2>
<br>
<a href="/static/music/hourglass.mp3" download>
  <img border="0" src="/static/pics/downloadtrack.jpg" alt="W3Schools" width="145" height="145">
</a><br>

<h2>5. Runaway</h2>
<br>
<a href="/static/music/runaway.mp3" download>
  <img border="0" src="/static/pics/downloadtrack.jpg" alt="W3Schools" width="145" height="145">
</a><br>

<h2>6. Stand Strong</h2>
<br>
<a href="/static/music/standstrong.mp3" download>
  <img border="0" src="/static/pics/downloadtrack.jpg" alt="W3Schools" width="145" height="145">
</a>

<ul>
<h2><li> <a href='/'> Home</a> </li></h2>

<h2><li> <a href='/songs'> Tracks</a> </li></h2>

<h2><li> <a href='/bio'> Biography</a> </li></h2>

<h2><li> <a href='/photos'> Photos</a> </li></h2>

<h2><li> <a href='/events'> Events</a> </li></h2>

<h2><li> <a href='/contact'>  Contact</a> </li></h2>

</ul>
</body>
</html>