<!DOCTYPE html>
<link rel="stylesheet" href="/static/styles.css">
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Welcome to the music of Lara May</title>
</head>

<body>


<h1>     Lara May         </h1>
<hr align="left" width="100%">


<p>This is an alternative/pop project based around a simple foundation of
music integrity.
<p/>
<p>
This project is intended to counter the current trends.
</p>
<p>
    Tracks On The Track Page Loading Slowly...
</p>

<ul>
<h2><li> <a href='/songs'> Tracks</a> </li></h2>

<h2><li> <a href='/bio'> Biography</a> </li></h2>

<h2><li> <a href='/photos'> Photos</a> </li></h2>

<h2><li> <a href='/events'> Events</a> </li></h2>

<h2><li> <a href='/contact'>  Contact</a> </li></h2>

<h2><li> <a href='/downloads'> Downloads</a> </li></h2>
</ul>

</body>
</html>