<!DOCTYPE html>
<link rel="stylesheet" href="/static/styles.css">
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Lara May's Photos</title>
</head>
<body>
<p>Photos Below</p>
<img src="/static/pics/pic7.jpg" alt="Missing Photo" style="width:275px; height: 400px;">
<img src="/static/pics/pic8.jpg" alt="Missing Photo" style="width:275px; height: 400px;">
<img src="/static/pics/pic10.jpg" alt="Missing Photo" style="width:275px; height: 400px;">
<img src="/static/pics/pic11.jpg" alt="Missing Photo" style="width:275px; height: 400px;">
<img src="/static/pics/pic12.jpg" alt="Missing Photo" style="width:275px; height: 400px;">
<img src="/static/pics/pic13.jpg" alt="Missing Photo" style="width:275px; height: 400px;">
<img src="/static/pics/pic14.jpg" alt="Missing Photo" style="width:275px; height: 400px;">
<img src="/static/pics/pic15.jpg" alt="Missing Photo" style="width:275px; height: 400px;">


<ul>

<h2><li> <a href='/'> Home</a> </li></h2>

<h2><li> <a href='/songs'> Tracks</a> </li></h2>

<h2><li> <a href='/bio'> Biography</a> </li></h2>

<h2><li> <a href='/events'> Events</a> </li></h2>

<h2><li> <a href='/contact'> Contact</a> </li></h2>

<h2><li> <a href='/downloads'> Downloads</a> </li></h2>
</ul>

</body>
</html>