<!DOCTYPE html>
<link rel="stylesheet" href="/static/styles.css">
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Songs</title>
</head>
<body>

<h3>tracks below<br>
sometimes the tracks take a while to load<br>
depending on your current browser<br> <br></h3>

    1. Don't Look Back
    <audio src="/static/music/dontlookback.mp3" controls> </audio><br><br><br>

    2. Fade to Free
    <audio src="/static/music/fadetofree.mp3"controls> </audio><br><br><br>

    3. Bright Lights
    <audio src="/static/music/brightlights.mp3"controls> </audio><br><br><br>

    4. Hourglass
    <audio src="/static/music/hourglass.mp3"controls> </audio><br><br><br>

    5. Runaway
    <audio src="/static/music/runaway.mp3"controls> </audio><br><br><br>

    6. Stand Strong
    <audio src="/static/music/standstrong.mp3"controls> </audio>

<ul>
<h2><li> <a href='/'> Home</a> </li></h2>

<h2><li> <a href='/bio'> Biography</a> </li></h2>

<h2><li> <a href='/photos'> Photos</a> </li></h2>

<h2><li> <a href='/events'> Events</a> </li></h2>

 <h2><li> <a href='/contact'>  Contact</a> </li></h2>

<h2><li> <a href='/downloads'> Downloads</a> </li></h2>
</ul>
</body>
</html>